/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


/* base styles  */

body{
    font-family: 'Inter', sans-serif;
}

/* header  */
header .navbar {
    padding: 1rem 0;
}
header .navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
}
.hero-bg {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-area h1 {
    font-size: 78px;
    font-weight: 700;
    line-height: 98px;
}
.boxed-btn {
    background-color: #8C30F5;
    color: whitesmoke;
    padding: 12px 32px;
}
.boxed-btn:hover {
    color: white;
    background-color: #2EC5CE;
    transition: .3s;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2EC5CE !important;
}

/* sponsorship area  */
.sponsorship {
    box-shadow: 0px 1px 3px #e8e2e2, 0px -1px 3px #fffefe;
}
.sponsorship ul {
    margin: 0;
    padding: 24px 0;
}
.sponsorship ul li {
    list-style: none;
}
/* feature area  */
.section-title h2{
    font-weight: 700;
    font-size: 48px;    
}
.section-title p {
    font-size: 18px;
}
.feature-item span i {
    font-size: 36px;
    color: teal;
}

/* testimonial section  */
.testimonial-section {
    background: #D5FAFC;
    padding: 120px 0 80px;
}
.testimonial-title {
    position: relative;
    padding-left: 15px;
    font-size: 18px;
}
.testimonial-title::before{
    position: absolute;
    top: -78px;
    left: -60px;
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f10d";
    color: #2EC5CE;
    font-size: 110px;
    opacity: .4;
}
.testimonial-title h2 {
    font-weight: 700;
    font-size: 48px;
}
.testimonial-item {
    padding: 30px 20px 25px 30px;
    border-radius: 6px;
}
.testimonial-content {
    position: relative;
    font-size: 18px;
    line-height: 32px;
    padding-left: 25px;
    margin-top: 30px;
}
.testimonial-content h5{
    font-weight: 700;
    margin-bottom: 0;
}
.testimonial-content small{
    color: #969BAB;
    font-size: 14px;
}
.testimonial-content::before {
    position: absolute;
    top: -8px;
    left: 0;
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f10d";
    color: #2EC5CE;
    font-size: 16px;
    opacity: .4;
}

/* stats section  */
.stats-section {
    padding:  82px 0;
}
.stats-title h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}
.stats-title {
    font-size: 18px;
}
.stats-icon{
    font-size: 32px;
    color: #2EC5CE;
    margin-right: 15px;
}
.stats-count {
    font-size: 28px;
    font-weight: 700;
}

/* second feature section  */
.second-feature-content h2 {
    font-size: 40px;
    font-weight: 700;
}
.second-feature-content {
    font-size: 18px;
    line-height: 32px;
}
.custom-btn {
    color: #8C30F5;
    text-decoration: none;
}
.custom-btn:hover {
    color: #2EC5CE;
    transition: .3s;
}

/* third feature section  */
.third-feature h2 {
    font-size: 40px;
    font-weight: 700;
}

/* cta section  */
.cta-section {
    background: #2EC5CE;
}

.cta-content {
    font-size: 18px;
}

.cta-content h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}
.cta-content h4 {
    font-weight: 500;
    font-size: 18px;
}

.cta-apps-img {
    height: 585px;
    display: flex;
}
.img-2 {
    align-self: flex-end;
}
/* .cta-image {
    position: relative;  
    height: 585px;
}
.cta-image-2 {
    position: relative;  
}
.cta-image::before {
    position: absolute;
    background-image: url(../img/phone-mockup-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 232px;
    height: 416px;
    top: 0;
    left: 0;
    content: "";
}
.cta-image-2::after {
    position: absolute;
    background-image: url(../img/phone-mockup-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 232px;
    height: 416px;
    bottom: 0;
    right: 0;
    content: "";
}  */

/* footer area  */
footer {
    padding: 56px 0;
}
.footer-menu ul {
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    list-style: none;
    display: inline-block;
    padding-right: 24px;
}
.footer-menu ul li a {
    text-decoration: none;
    display: block;
    color: azure;
}
h4.text-white {
    font-size: 18px;
    color: azure;
}
.copyright {
    color: azure;
    font-size: 14px;
    margin-bottom: 0;
}


/* responsive styles */
@media screen and (max-width: 991px) {
    .second-feature-content {
        margin-top: 40px;
        padding-left: 0 !important;
    }
    .text-white {
        margin-top: 25px;
    }
    .testimonial-title::before {
        top: -35px;
        left: -20px;
        font-size: 60px;
    }
    .testimonial-item.testimonial-mt {
        margin-top: 25px;
    }
}

@media screen and (max-width: 576px) {
    .testimonial-item {
        border-radius: 0px;
    }
    .testimonial-title::before {
        top: -60px;
        left: 0px;
    }
}